# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [10]:
vacation=("cities_updated.csv")
weather_data=pd.read_csv(vacation)
weather_data

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Hermanus,-34.4187,19.2345,71.01,73,0,5.99,ZA,1619122018
1,Bluff,-46.6000,168.3333,45.00,97,100,3.00,NZ,1619121897
2,Ugoofaaru,5.6667,73.0000,82.06,78,20,9.71,MV,1619122018
3,Vostok,46.4856,135.8833,43.41,55,100,3.94,RU,1619122019
4,Forsytheganj,52.6333,29.7333,45.55,90,94,4.09,BY,1619121931
...,...,...,...,...,...,...,...,...,...
568,Tamuín,21.9833,-98.7500,93.99,34,57,9.57,MX,1619122216
569,Berdigestyakh,62.0989,126.6992,9.84,97,99,4.68,RU,1619122217
570,Ust'-Omchug,61.1500,149.6333,22.93,95,100,3.47,RU,1619122217
571,Pavlodar,52.3000,76.9500,19.40,79,0,6.71,KZ,1619122217
572,Mago,53.2514,140.1822,34.83,93,100,1.63,RU,1619122218

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [11]:
gmaps.configure(api_key=g_key)

locations=weather_data[['Lat', 'Lng']]
humidity=weather_data['Humidity']

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure